{% extends 'core/base.html' %}

{% block content %}
        <h3 class='text-center'>Debtors List |
          <a href="{%url 'match_payments' %}">Merge Payments </a>
        </h3>

        <div class="loader" id="loader"></div>
        <table id="debtorTable" class="display">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Total Owing</th>
                </tr>
            </thead>
            <tbody class='font'>
            </tbody>
        </table>
{% endblock content%}
{% block script %}
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#loader').hide();
                $('#debtorTable').show();

                $('#debtorTable').DataTable({
                    ajax: {
                        url: '{% url "debtors_list_data" %}',
                        dataSrc: 'data'
                    },
                    columns: [
                        { data: 'code' },
                        { data: 'name' },
                        { data: 'total_owing' }
                    ],
                    pageLength: 20,  // Default number of rows
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
                // Apply custom styles to buttons
                $('.dt-button').css({
                'background-color': '#4CAF50',
                'color': 'white',
                'border': 'none',
                'padding': '5px 12px', // Reduced padding
                'border-radius': '4px',
                'font-size': '10px', // Smaller font size
                'margin': '2px'
                });

                $('.dt-button').hover(
                    function() {
                        $(this).css('background-color', '#45a049');
                    },
                    function() {
                        $(this).css('background-color', '#4CAF50');
                    }
                );
            },);
        });
    </script>

{% endblock script%}

</body>
</html>
