{% extends 'core/base.html' %}

{% block content %}
  <h3>Confirm Match</h3>
<hr>
<div class="row">
  <!-- <h1>Confirm Match</h1> -->
  <p>Debtor: {{ debtor.name }}</p>
  <p>Transaction Date: {{ transaction.transaction_date }}</p>
  <p>Amount: {{ transaction.credit }}</p>
  <p>Total Owing: {{ debtor.total_owing }}</p>
  <p>Customer Code: {{ customer.code }}</p>
  <p>Phone Number: {{ customer.tel }}</p>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Confirm</button>
  </form>
</div>
{% endblock content %}
