{% extends 'base.html' %}

{% block content %}
        <h1 class='text-center'>Transaction List</h1>
        <div class="loader" id="loader"></div>
        <table id="transactionTable" class="display" style="display: none;">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Value Date</th>
                    <th>Customer Name</th>
                    <th>Phone Number</th>
                    <th>Payment Code</th>
                    <th>Till Number</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
            </thead>
            <tbody class='font'>
            </tbody>
        </table>

{% endblock content%}

{% block script%}
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#loader').hide();
                $('#transactionTable').show();

                $('#transactionTable').DataTable({
                    ajax: {
                        url: '{% url "transaction_list_data" %}',
                        dataSrc: 'data'
                    },
                    columns: [
                        { data: 'transaction_date' },
                        { data: 'value_date' },
                        { data: 'customer_name' },
                        { data: 'phone_number' },
                        { data: 'payment_code' },
                        { data: 'till_number' },
                        { data: 'debit' },
                        { data: 'credit' }
                    ],
                    pageLength: 20,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
                    // Apply custom styles to buttons
                    $('.dt-button').css({
                    'background-color': '#4CAF50',
                    'color': 'white',
                    'border': 'none',
                    'padding': '5px 12px', // Reduced padding
                    'border-radius': '4px',
                    'font-size': '12px', // Smaller font size
                    'margin': '2px'
                    });
            
                    $('.dt-button').hover(
                        function() {
                            $(this).css('background-color', '#45a049');
                        },
                        function() {
                            $(this).css('background-color', '#4CAF50');
                        }
                    );              
            }, 5); // Adjust delay as needed (2000 milliseconds = 2 seconds)
        });
    </script>
    
{% endblock script%}

</body>
</html>
